<div style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
  <div class="dodger-blue" style="text-align:center;">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <h3 class="dodger-blue">These are our APIs: </h3>
  <div>
    <button class="my-button" (click)=getSVER()>Get SVER 0</button><br>
  </div>
  <br>
  <br>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>

  <h2 class="dodger-blue">{{resultTitle}}</h2>
  <div class="results-box">
    <div *ngFor="let i of data">
      UID: {{ i.UID }}
      <button class="my-button" (click)=getSVE(i.UID)>Get</button><br>
    </div>
  </div>
</div>
