<div style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
  <div class="blue" style="text-align:center;">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <br>
  <div>
    <label for="sverid"><h4>Enter the SVER ID:</h4></label>
    <input #box type="text" id="sverid" name="sverid">
    <button class="btn btn-info" (click)=getClients(box.value)>Get SVER</button><br>
  </div>
  <br>
  <h2 class="dodger-blue">{{resultTitle}}</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">UID</th>
        <th scope="col">IP</th>
        <th scope="col">Meta</th>
        <th scope="col">Price (Satoshis)</th>
        <th scope="col">Make transaction</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of data">
        <td><b>{{i.UID}}</b></td>
        <td>{{i.ip}}</td>
        <td>{{i.meta}}</td>
        <td>{{i.price}}</td>
        <td>
          <button class="btn btn-danger"
          (click)=makeTransaction(0,i.UID,i.price,i.walletAddress)>
          Pay and get data</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <h3>Friends list</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">UID</th>
          <th scope="col">GRIDS MS Locator</th>
          <th scope="col">Relationship Type</th>
          <th scope="col">SVE locator</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of transactionData">
          <td><b>{{i.Client_instance.UID}}</b></td>
          <td>{{i.GRIDS_MS_Locator}}</td>
          <td>{{i.Relationship_Type}}</td>
          <td>{{i.SVE_locator}}</td>
        </tr>

      </tbody>
    </table>
  </div>

</div>

